# Set URL for your scoped packages.
# For example package with name `@my-org/my-package` will use this URL for download
@inference:registry=https://gitlab.com/api/v4/packages/npm/


# //gitlab.com/api/v4/projects/:_authToken="${NPM_TOKEN}"

